<div class="container py-8">
    <div class="card border-dark mb-3">
        <div class="card-header text-center bg-gray-3  py-0" style="font-family:Georgia, 'Times New Roman', Times, serif"> 
            <h4 class="card-title mt-2">Arcade ACDC</h4>
        </div>

        <div *ngIf="!auth.isLoggedIn()">
            <a style="font-family:Georgia, 'Times New Roman', Times, serif; color:black;" routerLink="/login">&nbsp;Please Sign In.</a>
        </div>
        <div *ngIf="auth.isLoggedIn()"> 
            <div class="row p-6 justify-content-center" *ngIf="!results">
                <div *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
                    <strong>Error!</strong> {{ error }}
                </div>
                <div *ngIf="!isLoading && !submitted"  class="col-md-12 p-4">
                    <form  [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col form-group">                               
                                <!-- <div class="input-group"> -->
                                    <!-- <div class="input-group-prepend">                                   
                                        <span class="input-group-text">deps file path</span>
                                    </div> -->
                                    <!-- <div class="custom-file">   -->
                                        <!-- <input name="revisionfile" type="file" class="custom-file-input" id="files" (change)="onFileSelected1($event)" [ngClass]="{ 'is-invalid': submitted &&  historyRevision=='Input _deps File' }"> -->
                                        <label class="form-label">(Input) Deps File Path<span class="text-danger">:</span></label>
                                        <input name="depsFile" type="text" class="form-control" formControlName="depsFile" [ngClass]="{ 'is-invalid': submitted &&  f.depsFile.errors}">
                                        
                                        <!-- <label class="custom-file-label" for="files">{{historyRevision}}</label> -->
                                        <div *ngIf="submitted && f.depsFile.errors" class="invalid-feedback">
                                            <div *ngIf="f.depsFile.errors.required">Required _deps file input</div>
                                        </div>
                                    <!-- </div> -->
                                <!-- </div>  -->
                            </div>
                        </div>
                        <!-- <div class="form-row"> -->
                            <!-- <div class="col form-group">
                                <label class="form-label">Log Type<span class="text-danger">*</span></label>
                                <select formControlName="logType" id="inputState" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f.logType.errors}" >
                                    <option>git</option>
                                    <option>svn</option>
                                </select>
                                <div *ngIf="submitted && f.logType.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && f.logType.errors">Log Type is required</div>
                                </div>
                            </div> -->
                            <!-- <div class="col form-group">   -->
                                    <!--The "from" Date Picker -->
                            
                                    <!-- <div class="md-form">
                                        <label class="form-label">Start Date<span class="text-danger">*</span></label>
                                        <input placeholder="Start Date (dd/mm/yyyy)" type="text" formControlName="startDate"  id="date-picker-example" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f.startDate.errors}">
                                        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && f.startDate.errors">Start Date is required</div>
                                        </div>
                                    </div> -->

                                
                            <!-- </div>
                            <div class="col form-group"> -->
                                    <!--The "to" Date Picker -->
                                    <!-- <label class="form-label">End Date<span class="text-danger">*</span></label>
                                    <input placeholder="End Date (dd/mm/yyyy)" type="text" formControlName="endDate" id="endingDate" class="form-control"
                                    [ngClass]="{'is-invalid': submitted && f.endDate.errors}">
                                    <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && f.endDate.errors">End Date is required</div>
                                    </div>        
                            </div> -->
                        <!-- </div> -->
                        <div class="form-row">
                            <div class="col form-group">
                                <!-- <div class="input-group" > -->
                                    <!-- <div class="input-group-prepend"  >
                                        <span class="input-group-text">clustered file path</span>
                                    </div> -->
                                    <!-- <div class="custom-file"> -->
                                        <label class="form-label">(Output) Clustered File Path<span class="text-danger">:</span></label>
                                        <input name="clusteredFile" type="text" class="form-control" formControlName="clusteredFile" [ngClass]="{ 'is-invalid': submitted &&  f.clusteredFile.errors}">
                                        <!-- <label class="custom-file-label" for="dsmfiles">{{structurl_DSM}}</label> -->
                                        <div *ngIf="submitted && f.clusteredFile.errors" class="invalid-feedback">
                                            <div *ngIf="f.clusteredFile.errors.required">Required clustered file output</div>
                                        </div>
                                    <!-- </div> -->
                                <!-- </div>  -->
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-group mt-5">
                            <button type="submit" class="btn btn-primary-dark-w min-width-200"> Submit  </button>
                            <button type="button" class="btn btn-primary-dark-w float-right min-width-200"> Cancel  </button>
                        </div> <!-- form-group// --> 
                    </form>
                </div>
            </div>

            <div class="row py-18 px-0 justify-content-center m-2"  *ngIf="results">
                <div class="col-md-8 bg-gray-3 py-3"> 
                    <strong>Success! {{ results }}</strong>
                </div>
                <!-- <div class="col-md-4 "> 
                    <button type="button" class="btn btn-primary-dark-w float-right min-width-200 min-height-40" (click)="downloadResults()"><i class="fa fa-download" aria-hidden="true"></i> Downlod Results </button>
                </div> -->
            </div>
        </div>

    </div>
</div>