.d-shape{
    min-width: 200px;
    border-left:2px solid rgb(116, 202, 31);
    padding-left: 2rem;
    /*text-align: center;*/
}
.dropdown-border{
    border:2px solid var(--primary);
    border-top: 0px;
    border-radius: 0px;
    min-width: 200px;
    border-radius: 0 0 10px 10px;
    
}
.d-shape:hover{
    background-color:rgb(124, 192, 21);
    cursor: pointer;
}
.dropdown-border-bottom{
    border-bottom:2px solid var(--primary);
}
.dropdown-border-bottom:hover{
    background-color: var(--primary);
}
.border-right-local{
    border-right: 2px solid rgb(116, 202, 31);
}

