.tactics-button {

    cursor: pointer;
    float: right;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 30px;
    margin: 4px 4px 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    min-width: 140px;
    height:34px;
    outline: none;

    box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}

/*================== row styles=========================================*/
.row-details {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px double #D1D3D4;
    padding-bottom: 20px;
    padding-top: 20px;
    min-width: 800px;
}

.row-caption {
    position: absolute;
    top: -33px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border-radius: 0px 15px 0px 0px;
    border: 1px solid #D1D3D4;
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    min-width: 200px;
    max-width: 550px;
    overflow: hidden;
    box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    text-align: center;
}

    .row-caption .secton-label-left {
        height: 100%;
        border-right: 1px solid rgba(255,255,255,.8);
        padding: 5px;
    }

    .row-caption .secton-label-right {
        height: 100%;
        border-left: 1px solid rgba(0,0,0,.2);
        padding: 5px;
    }

.row-caption-right {
    right: 15px;
    border-radius: 15px 0px 0px 0px;
    padding-left: 15px;
}


/*==============================================snippets details  ============================================================*/

.file-information {
    background: #e1e1e1; /* Fallback color for non-css3 browsers */
    width: 100%;

    /* Gradients */
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    /* Shadows */
    box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

.information-label {
    background: #fafafa; /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255,255,255,.8);
    font-size: 16px;
    height:inherit;
    min-width: 150px;
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    /* Shadows */
    box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    text-align: center;
}

    .information-label .secton-label-left {
        height: 100%;
        border-right: 1px solid rgba(255,255,255,.8);
        padding: 5px;
    }

    .information-label .secton-label-right {
        height: 100%;
        border-left: 1px solid rgba(0,0,0,.2);
        padding: 5px;
    }

.snippet-caption {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 1px 20px 0px 20px;
    border: 1px solid #D1D3D4;
    min-width: 200px;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
    box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}

.snippet-codes {
    position: relative;
    top: -5px;
    border: 2px solid #D1D3D4;
    border-top-left-radius: 30px;
    border-top-right-radius: 0px;
    width: 100%;
    padding: 10px 20px;
    min-height: 100px;
}

.snippet-id-label {

    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255,255,255,.8);
    font-size: 16px;
    margin: 4px;
    padding: 5px;
    width: 32px;
    margin-right: 40px;
    padding-left: 10px;
    /* Rounded Corners */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    /* Shadows */
    box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

/*======================= close  buttons styles =================================*/
.close-button {
    position: absolute;
    right: 11px;
    top: 9px;
    background: #44921f; /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(79,188,32)), color-stop(0.15, rgb(73,157,34)), color-stop(0.88, rgb(62,135,28)), color-stop(1, rgb(49,114,21)));
    background: -moz-linear-gradient( center top, rgb(79,188,32) 0%, rgb(73,157,34) 15%, rgb(62,135,28) 88%, rgb(49,114,21) 100%);
    border: 0;
    color: #eee;
    cursor: pointer;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 4px 4px 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    width: 35px;
    height: 20px;
    outline: none;
    /* Rounded Corners */
    border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    /* Shadows */
    box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}

.close-button:hover {
    background: #4ea923; /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
    background: -moz-linear-gradient( center top, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}

.close-button:active {
    background: #4ea923; /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
    background: -moz-linear-gradient( center bottom, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}

.description{
    font-family: "Lucida Sans", sans-serif;
}
