<div class="container pt-8">
    <div class="row justify-content-center ">
        <div class="col-md-6">
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
                <strong>Error!</strong> {{ error }}
              </div>
            <div *ngIf="!isLoading" class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span class="glyphicon glypghicon-user"><i class="fa fa-fw fa-user"></i> Sign up</span></h4>
                </header>
                <article class="card-body">
                    <form  [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="form-label">First name<span class="text-danger">*</span></label>
                                <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                                </div>   
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label class="form-label">Last name<span class="text-danger">*</span></label>
                                <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                                </div>
                            </div>                           
                        </div> <!-- form-row end.// -->
                    
                        <div class="form-group">
                            <label class="form-label">Email address<span class="text-danger">*</span></label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div> <!-- form-group end.// -->
                    
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="form-label">Password<span class="text-danger">*</span></label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label class="form-label">Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary-dark-w btn-block"> Register  </button>
                        </div> <!-- form-group// -->                                              
                    </form>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->   
</div> 
